* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FDF5E6;
    color: #333;

}

.menu-grid span {
    margin: 1px;
    padding: 2px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000px;

}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #D2691E;
}

nav a {
    text-decoration: none;
    color: #555;
    margin: 0 15px;
    font-size: 14px;
}

.btn-book {
    background-color: #E07A5F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;

}


.hero {
    height: 70vh;
    background: url('./Section.png');

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    max-width: 600px;
    margin: 0 auto 20px;
    font-weight: 300;
}

.btn-hero {
    background-color: #E07A5F;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;

}


.section-title {
    text-align: center;

    color: #E07A5F;
    font-size: 2rem;
    margin: 50px 0 30px;
}


.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 10%;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease;
}

.card:hover {
    transform: translateY(-2px);
    background-color: rgb(255, 255, 193);

}

.card img,
.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-info {
    padding: 20px;
    text-align: center;
}

.card-info h3 {

    margin-bottom: 5px;
}

.price {
    color: #E07A5F;
    font-weight: bold;
    margin-bottom: 10px;
}

.desc {
    font-size: 0.9px;
    color: #777;
}


.menu-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0 15% 50px;
    flex-wrap: wrap;
}

.menu-item {
    background: white;
    padding: 15px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
    transition: all 0.25s ease;
}

.menu-item:hover {
    transform: translateY(-2px);
    background-color: rgb(255, 255, 193);

}


footer {
    background-color: #3D2B1F;
    color: #D3D3D3;
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col h3 {
    color: white;
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.footer-col p {
    font-size: 0.85rem;
    margin-bottom: 10px;
}

#nah {
    background-color: #3D2B1F;
    color: #D3D3D3;
    text-align: center;
    display: flex;
    justify-content: center;

    padding: 20px;
}


hr {
    color: rgb(233, 207, 207);
    width: 50%;
    height: 4px;
    border: none;
    background-color: #635f5f;
    margin: 0 auto;
}

#final {
    background-color: #3D2B1F;
}


a:hover {
    color: #D2691E;
    transition: 0.25s;
}